
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E
                &kp A &kp S &kp D
            >;
        };
    };
};
